{% extends "base.html" %}
{% block title %}About{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>About Thena</h1>
      </div>
      <p class="lead">Thena uses machine learning to figure out what you care about.</p>
      <p>Links tell a story. By watching the way you click from article to article while you browse Wikipedia, Thena can learn what kinds of articles you're drawn to the most.</p>
      <br>
      <p>Thena is currently in alpha, so there's not much going on yet...</p>
      <br>
      <pr>Questions? Comments? <a href="mailto:kronovet@gmail.com?Subject=Thena%Questin">Don't be shy</a>.</p>

    </div>
{% endblock %}

