{% extends "base.html" %}
{% block title %}About Daniel{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>About Daniel</h1>
      </div>
      <p class="lead">Daniel is a curious, friendly, and passionate graduate student.</p>
      <p>Currently at Columbia, interested in artificial intelligence, political economy, and the general welfare of people everywhere. Building Thena for fun, as an experiment.</p>
      <p>Loves coffee, listening, and friendship.</p>
      <pr>Check out his <a href="http://kronosapiens.github.io/">blog</a>, or <a href="mailto:kronovet@gmail.com?Subject=Thena%Questin">say hi!</a></p>
    </div>
{% endblock %}

