{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Know Thyself</h1>
      </div>
      <p class="lead">Meet Thena, your knowledge companion. Thena learns what excites you by seeing how you browse Wikipedia.</p>
      <p>Written in <code>python</code> and powered by a little machine learning magic, Thena will help you discover your interests on a deeper level. Get the <a href="">extension</a> to get started.</p>
    </div>
{% endblock %}

