{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1><img src="{{ url_for('static', filename='thena_logo_full.png') }}" alt="Nablus Logo" height="72" width="72"> Know Yourself</h1>
      </div>
      <p class="lead">Meet Thena, your knowledge companion. Thena learns what excites you by how you use Wikipedia.</p>
      <p>Written in <code>python</code> and powered by a little machine learning magic, Thena will help you undertsand what moves you.</p>

      <p>To get started:</p>
      <ol>
        <li>Get the <a href="https://chrome.google.com/webstore/detail/thena/edkbcffelaeaoedocffeocbhoncfjcgl?hl=en-US&gl=US", target="_blank">extension</a>.</li>
        <li>Go to the <a href="{{ url_for('chex.login')}}">login page</a> to authenticate.</li>
        <li><a href="https://en.wikipedia.org/wiki/Main_Page">Explore!</a></li>
      </ol>
    </div>
{% endblock %}