{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Welcome!</h1>
      </div>
      <p class="lead">Thena lives in <a href="https://chrome.google.com/webstore/detail/thena/edkbcffelaeaoedocffeocbhoncfjcgl?hl=en-US&gl=US", target="_blank">the extension</a>. Install it to get the ball rolling.</p>
      <p>Once you've installed it, click the button below to log in. There's some coordinating going on between Chrome, the extension, and the site, so you may have to click twice :/</p>
      <br>
      {% if current_user.is_authenticated() %}
        <a type="button" role="button" class="btn btn-success btn-lg" disabled="disabled">Success!</a>
      {% else %}
        <a type="button" role="button" class="btn btn-primary btn-lg" href="{{ url_for('chex.login_button')}}">Login</a>
      {% endif %}
    </div>
{% endblock %}