{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Welcome!</h1>
      </div>
      <p class="lead">If you've already installed <a href="https://chrome.google.com/webstore/detail/thena/edkbcffelaeaoedocffeocbhoncfjcgl?hl=en-US&gl=US", target="_blank">the extension</a>, an authentication pop-up should appear momentarily. If not, install the extension and refresh the page.</p>
    </div>
{% endblock %}