{% extends "base.html" %}
{% block title %}Logout{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>We'll miss you!</h1>
      </div>
      <p class="lead">To disable Thena, just right click the extension logo in the upper-right hand corner of your screen, and click "Remove from Chrome".</p>
      <p>If you have a minute, would you mind emailing daniel@thena.io and letting us know what you're leaving?</p>
    </div>
{% endblock %}

