{% extends "base.html" %}
{% block title %}Privacy{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Privacy</h1>
      </div>
      <p class="lead">We take privacy very seriously.</p>
      <p>Thena is <em>not</em> interested in tracking you in order to monetize you. We store the least possible information in order to make this project work -- currently, just your email.</p>
      <p>The only human who has access to any of your data is Daniel, the creator of Thena. You can get in touch with him at daniel {at} thena {dot} io. He's really not interested in your specific history; he just wants enough data to build some cool machine learning models.</p>
      <p>There is a "snooze" feature currently in development which will let you disable Thena for a few minutes if you'd rather she not see a few of your searches. It's top priority over at HQ.</p>
    </div>
{% endblock %}

