{% extends "base.html" %}
{% block title %}About Thena{% endblock %}
{% include "_navbar.html" %}
{% block body %}
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>About Thena</h1>
      </div>
      <p class="lead">Links tell a story. By watching you bounce from article to article, Thena learns what kinds of things you're drawn to.</p>
      <p>In <a href="https://en.wikipedia.org/wiki/Graph_theory">graph theory</a>, an "arc" is a directed link which connects two things: a tail, and a head. The tail is where you're coming from, the head is where you're going. Every time you click from one article to another, Thena keeps track. She then uses this data to create something called a <a href="https://en.wikipedia.org/wiki/Stochastic_matrix">stochastic matrix</a> to help understand how you move through ideas.</p>
      <p>Thena is currently in alpha, so there's not much going on yet. The project is <a href="https://github.com/kronosapiens/thena">open source</a>, so any contributions are welcome!</p>
      <pr>Questions? Comments? <a href="mailto:daniel@thena.io?Subject=Thena%Question">Don't be shy</a>.</p>

    </div>
{% endblock %}

